

<div v-for="index in 4" class="card float-left mr-1 ml-2 mt-1 mb-2" style="width: 19rem">
<h3>Special offer 1</h3>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam libero erat, porttitor nec consectetur vitae, maximus vitae est.

    </p>
    <button class="btn magenta" data-dismiss="modal" >Oui!!!!!!</button>
</div>