/*
@font-face {
    font-family: L15-Medium;
    src: url("./L15/L15-Medium.otf") format("opentype");
}

@font-face {
    font-family: L15-Regular;
    src: url("./L15/L15-L15-Regular.otf") format("opentype");
}
*/
@font-face {
    font-family: 'L15-Regular';
    src: url('/fonts/L15/L15-Regular.otf') format('otf');
}

/* @import url('https://fonts.googleapis.com/css?family=Abel|Didact+Gothic|Libre+Franklin|Open+Sans'); */

html, body, * {
    font-family: 'L15-Regular', 'Open Sans', 'Helvetiva', 'Arial', sans-serif;

    /*
    font-family: 'L15Medium', 'Open Sans', sans-serif;
    font-family: 'Didact Gothic', sans-serif;
    font-family: 'Libre Franklin', sans-serif;
    font-family: 'Abel', sans-serif;
    */
}
* {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}
h1, h2, h3 {
    color:#00ffe1;
    color:#000;
}

hr {
    border-top: none;
    /*border-bottom: 10px dotted #cfffff*/
}
hr.test {
    border-top: none;
    /*border-bottom: 10px dotted #cfffff*/
}

a {
    color:black;
}

a:hover {
    color:magenta;
    text-decoration: underline;
    text-decoration-color: #cfffff;
}

hr.sm {
    border-bottom-width: 3px;
}

.magenta {
    /*background-color: rgba(255, 0, 255, 0.3);*/
    background-color: rgb(255, 255, 255);
    border: 1px solid #000
}
.magenta:hover {
    /*background-color: rgba(255, 0, 255, 0.3);

    fluo : 00ff99
    */
    background-color: #cfffff;
    border: 1px solid #000
}

div.cart {
    /*
    background-color: magenta;
    background-color: rgba(255, 0, 255, 0.1);
    */
    padding:10px 15px
}
div.bdtd {
    border: 3px solid #00ffe1;
    padding:1px
}
.vue-form-generator .form-group.required>label:after {
    color: #00ffe1;
}
div.card {
    border-style: dotted;
}
label {
    font-size: x-large;
    font-weight: bolder;
}

p.help a {
    color:black;
    text-decoration: underline;
    text-decoration-color: #cfffff;
}

label.colorLabel {
    width:150px;
    margin-left:10px;
    padding:2px 10px;
    font-size: small;
}



pre {
    overflow: auto;
}
pre .string { color: #885800; }
pre .number { color: blue; }
pre .boolean { color: magenta; }
pre .null { color: red; }
pre .key { color: green; }

fieldset {
    border: 0;
}
}

.pre {
    display: block;
    font-family: monospace;
    white-space: pre;
    margin: 1em 0;
    font-size:16px;
    line-height: 120%;
}

select {
    /* -webkit-appearance:none; */
    background-color: #fff;

}

.navbar {
    padding: 0 1rem;
}

.navbar a {
    font-size: 17px;
}



.navbar-brand,
a.navbar-brand {
    font-size:1.5em;
    line-height: 1.2em;
    font-weight: 400;
    letter-spacing: 1.32px;
    line-height: 28.8px;
    margin:13px 0 0 13px;
}


.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    font-weight: bold;
    color: inherit;
    display: block;
    padding: .2em .5em;
    margin: 0;
    text-decoration: none;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}


.navbar-light .navbar-nav .active>.nav-link:hover,
.navbar-light .navbar-nav .nav-link.active:hover,
.navbar-light .navbar-nav .nav-link.show:hover,
.navbar-light .navbar-nav .show>.nav-link:hover {
    background-color: #cfffff;
    color: black;
    padding: .2em .6em;
}


.navbar-nav li.nav-item {
    display: inline-block;
    border:0 solid black;
    margin-right: 5px;
    color: black;
}
.navbar-nav li.nav-item a.nav-link.active,
.navbar-nav li.nav-item a.nav-link {
    font-weight: 600;
    color: black;
    /*letter-spacing: 1.12px;
    line-height: 26.4px;*/
    padding: .2em .6em;
}
.navbar-nav li.nav-item:hover,
.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    background-color: #cfffff;
    color: black;
}

.navbar-light .navbar-nav .nav-link.nav-link-bd {
    border:1px solid black;
    border-radius:4px !important;
}

.alert-danger {
    color: #000;
    background-color: #cfffff;
    border-color: #00ffe1;
}



h1, h2, h3, h4, h5, h6 {
    font-family: 'L15-Regular', 'Open Sans', 'Helvetiva', 'Arial', sans-serif;
    line-height: 0.9;
    margin: 0 0 .4em;
    word-wrap: normal;
    font-weight: normal;
    color: #000;
}
h1 {
    font-size: 3.2em;
    letter-spacing: normal;
    font-weight: 100;
}
h2 {
    font-size: 2.9em;
    letter-spacing: normal;
    margin: 0 0 .7em;
    font-weight: 300;
}
h3 {
    font-size: 1.6em;
    margin: 0 0 .5em;
    line-height: 1.6em;
    letter-spacing: -.01em;
    font-weight: 300;
}
h4 {
    font-size: 1.2em;
    letter-spacing: .1em;
    line-height: 1.6em;
    margin: .7em 0 .7em;
    text-transform: uppercase;
    font-weight: 500;
}
h5 {
    font-size: 1.2em;
    line-height: 1.7em;
}
h6 {
    font-size: 1.1em;
}