<div v-if="form.step =='2'">
<div  class="columns is-multiline is-mobile">
    <div v-for="(page, index) in form.pages" class="column is-one-quarter">

        <div class="box">
            <h2 class="is-size-4">{{page.name}}</h2>

            <h3 class="is-size-5">Colors</h3>

            <div v-for="(side, b) in config.pageNames" v-if="side=='recto' || (side=='verso' )">
                <span>{{side}} :</span>

                <span v-for="(color, index) in page.colors[side]">
                    {{color}} <span v-if="index+1 < page.colors[side].length">, </span>
                </span>
            </div>

            <div class="is-clearfix">
                <a class="open-modal is-pulled-right " data-toggle="modal" :data-target="'#modalPage'+index">Edit Page</a>
            </div>


            <!-- Modal -->

            <div class="modal" tabindex="-1" role="dialog" :id="'modalPage'+index">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Edit Page {{page.name}}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">




                            <div class="field">
                                <label class="label">Name:</label>
                                <div class="control">
                                    <input
                                            type="text"
                                            class="input"
                                            placeholder="Page Name"
                                            v-model="page.name"
                                            :name="'pages['+index+'][name]'">
                                </div>
                                <p class="help">Page name is for info only</p>
                            </div>
                            <hr>
                            <div class="field">
                                <label class="label">Sides:</label>
                                <label class="">
                                    <input
                                            type="checkbox"
                                            class="form-control"
                                            placeholder="verso"
                                            v-model="page.hasVerso"
                                            :name="'pages['+index+'][verso]'">
                                    page has verso?
                                </label>
                                <p class="help">Check this if your page has 2 sides.</p>
                            </div>
                            <hr>

                            <div class="field">

                                <label class="label">Files:</label>

                                <div v-for="(side, b) in config.pageNames" v-if="side=='recto' || (side=='verso' && page.hasVerso==1)">
                                    <label class="label">{{side|capitalize}}</label>


                                    <div class="control">
                                        Please enter file download URL:
                                        <input
                                                class="input"
                                                placeholder="http://www.somedownloadurl.com/MyPageArchive.zip"
                                                type="text"
                                                v-model="page.files[side].url"
                                                :name="'page.files[\''+side+'\'].url'">
                                    </div>
                                </div>

                                <p class="help">Uploads are limited to UplaodFileLimit Mo.
                                    <br>
                                    If your file is larger, please upload it somewhere and paste URL here.</p>
                            </div>
                            <hr>
                            <div class="field">
                                <label class="label">Colors:</label>
                            </div>
                            <div class="columns">
                                <div class="column is-half" v-for="(side, b) in config.pageNames" v-if="side=='recto' || (side=='verso' && page.hasVerso==1)">
                                    <label class="label">{{side|capitalize}}</label>
                                    <div class="control">
                                        <ul>
                                            <li v-for="(availability, color) in config.colors.standard" v-if="availability===true">
                                                <label class="checkbox">
                                                    <input
                                                            v-model="page.colors[side]"
                                                            type="checkbox"
                                                            :name="'page.colors[\''+side+'\']'"
                                                            :disabled="page.colors[side].length >= config.colors.maxPerSide && page.colors[side].indexOf(color) == -1"
                                                            :value="color" >
                                                    {{ color }}
                                                    <br>
                                                </label>
                                            </li>

                                            <li v-for="(availability, color) in config.colors.special" v-if="availability===true">
                                                <label class="checkbox">
                                                    <input
                                                            v-model="page.colors[side]"
                                                            type="checkbox"
                                                            :name="'page.colors[\''+side+'\']'"
                                                            :disabled="page.colors[side].length >= config.colors.maxPerSide && page.colors[side].indexOf(color) == -1"
                                                            :value="color" >
                                                    {{ color }}
                                                    <br>
                                                </label>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>



                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>




            </div>

        </div>

    </div>
</div>
</div>