<div v-if="form.step === 1">
    <div class="field">
        <label class="label">Paper</label>
        <div class="control is-expanded">
            <div class="select is-fullwidth">
                <select
                        name="paper"
                        v-model="form.paper">
                    <option disabled selected value="">Choose a paper</option>
                    <optgroup v-for="(d, paperGroup) in config.papers" :label="paperGroup">
                        <option v-for="(i, paper) in d">{{ paperGroup }} - {{paper}}</option>
                    </optgroup>
                    <option value="Own Paper">Your own paper</option>
                </select>
            </div>
        </div>
        <p class="help">Choose paper, <a href="">click here</a> for more details about our paper.</p>
        <p class="help is-danger" v-show="errors.has('paper')">{{ errors.first('paper') }}</p>
    </div>
    <div class="field">
        <label class="label">Format</label>
        <div class="control is-expanded">
            <div class="select is-fullwidth">
                <select
                        name="size"
                        v-model="form.size">
                    <option selected value="">Choose a format</option>
                    <option v-for="(d, size) in config.sizes">
                        {{size}}
                    </option>
                </select>
            </div>
        </div>
        <p class="help"><a href="">click here</a> for more details about formats.</p>
        <p class="help is-danger" v-show="errors.has('size')">{{ errors.first('size') }}</p>
    </div>


    <div class="field">
        <label class="label">Number of Pages</label>
    </div>
    <div class="field is-grouped">
        <div class="control is-half">
            <input
                    name="totalPages"
                    v-model="form.totalPages"
                    class="input"
                    type="number"
                    placeholder="Number of pages">
        </div>


        <p class="control">
            <a class="button" v-on:click="removePage">
                -
            </a>
        </p>
        <p class="control">
            <a class="button" v-on:click="addPage">
                +
            </a>
        </p>
    </div>


    <div class="field">

        <p class="help">Enter the number total of pages, minimum 1, maximum 64.</p>
        <p class="help is-danger" v-show="errors.has('totalPages')">{{ errors.first('totalPages') }}</p>
    </div>



    <div class="field has-text-right	">
        <button class="button is-large is-half" @click.prevent="next()" >Next &rarr;</button>
    </div>
</div>